@import './base.css';

#app {
  height: 100vh;
  font-weight: normal;
}

.u_content-center {
  display: grid;
  place-content: center;
}

main {
  display: grid;
  place-content: center;
}

small {
  margin-top: 1rem;
}